@model Usuario
@{
   
}

@using(Html.BeginForm("Teste","Login",FormMethod.Post))
{  
    @Html.ValidationSummary(true)
    @Html.DisplayNameFor(m => m.Nome)
    @Html.TextBoxFor(m => m.Nome,"",new{@class="form-control", type="password"}) 
    @Html.ValidationMessageFor(m => m.Nome,"", new {@class="text-danger"})
    <button value="novapagina" type="submit" name="opcao"> teste </button>
   
}

