

/* adaptação bootstrap*/

:root {
    --bs-teste-rgb: 0, 0, 0;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-teste-rgb), var(--bs-bg-opacity)) !important;
}

.btn-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-teste-rgb), var(--bs-bg-opacity)) !important;
}

.link-primary {
    text-decoration: none;
    color: darkblue;
}
    .link-primary:hover {
        --bs-bg-opacity: 1;
        color: rgba(255,69,0,0.60);
    }
.link-dark {
    text-decoration: none;
}
    .link-dark:hover {
        --bs-bg-opacity: 1;
        color: rgba(255,69,0,0.60);
    }
.border-info {
    border-color: orange !important;
}

.btn-primary {
    margin-top: 2%;
    color: black;
   
    border-color:rgba(0,0,0,0.55) ;
    background-color: rgb(232,163,0);
    
}
    .btn-primary:hover {
        margin-top: 2%;
        background-color: rgb(240,140,9);
        color: black;
        border-color: rgba(0,0,0,0.25);
        
    }
    .btn-primary:focus + .btn-primary, .btn-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        color: black;
        background-color: rgb(240,140,9);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-primary:disabled, .btn-primary.disabled {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }

.btn-outline-primary {
    margin-top: 2%;
    color: white;
    border-color: rgb(232,163,0);
}
    .btn-outline-primary:hover {
        margin-top: 2%;
        background-color: rgb(240,140,9);
        color: black;
        border-color: rgba(0,0,0,0.25);
    }
    .btn-outline-primary:focus + .btn-outline-primary, .btn-outline-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle {
        color: black;
        background-color: rgb(240,140,9);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-outline-primary:disabled, .btn-outline-primary.disabled {
        color: black;
        background-color: rgb(240,140,9);
        border-color: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }



.btn-outline-info {
    color: orange;
    border-color: orange;
}
    .btn-outline-info:hover {
        color: black;
        border-color: orange;
        background-color: orange;
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }
    .btn-outline-info:focus {
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
    }


    .text-orange {
        --bs-text-opacity: 1;
        color: orange !important;
    }
    .text-orange:hover {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-teste-rgb), var(--bs-bg-opacity)) !important;
    }

.form-control:focus { 
    border-color: rgba(232,163,0, 0.30);
    box-shadow: 0 0 0 0.25rem rgba(232,163,0, 0.30);
}

.rodape {
    margin-top:7.5%;
    background-image: linear-gradient( to bottom, black, black );
}
.teste{
    text-align:center
}
.cardConta {
    width: 20rem;
    height: 10rem;
}
   
/* adaptação bootstrap*/
.todasTelas {
    margin: 0 10px 0 10px
}
.spamHome {
    color: white;
    border: solid;
    border-color:orange;
    border-width: 1px;
    margin-top: 12px;
}

body {
    margin-bottom: 7.5%;
    background-color: black;
    background-image: linear-gradient( to bottom,transparent,rgba(79,79,79,0.100), rgba(255,140,0,0.20),rgba(255,140,0,0.30));
}

.mesmaLinha {
    display: flex;
}
.letraP {
    font-size: small;
}


/*  Login */
.boxErroLogin {
   
    border-radius: 5px;
    margin-bottom: 2%;
    display:flex;
    background-color:white;
}
/********************************/
/* Home */
.boxCarosel {
    margin: auto 7.5% auto 7.5%;
}

.columnHome {
    width: 22rem;
    margin-left: auto;
    margin-right: auto
}

/* Home fim */
/* Carrinho */

.boxCarrinho:
.boxValorTotal {  
    margin: 1% 0 0 3%;
    
}
.botaoCarrinho {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

.bordaCar {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
.ajustCarLat {
    margin: 10px 10px 0 10px
}


/**********************************/
/*   Produtos   */

.botoesProd {
    padding-top: 97%;
    text-align: center;
}


.boximgProd {
    margin: 0 1% 0 2px;
    background-color: white;
    border-radius: 20px;
    width: 55%;
    padding: 10px 10px 10px 10px;
}

.boxDescricao {
    padding: 10px 10px 10px 10px;
    margin-right: 1%;
    background-color: white;
    border-radius: 20px;

}
.boxDescricaoDetalhada {
    padding: 10px 10px 10px 10px;
    margin: 1% 3% 0 0;
    background-color: white;
    width:100%;
    border-radius: 20px;
}
.boxValorEentrega {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 20px;
}
    .boxValorEentrega a {
        color: black;
        border-color: black;     
    }.boxValorEentrega a:hover {
        color: black;
        border-color: black;  
        background-color:gray;
    }

.boxOutrosProd {
    padding: 10px 10px 10px 10px;
    margin: 1% 3% 0 0;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}
    
.boxImgProdGrande {
    margin: 0 0 0 5px;
    width: 100%;
    height: 100%;
}
    .boxImgProdGrande img {
        border: solid;
        background-color: white;
        border-width: 3px;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

.boxImgProdPequena {
    max-width: 15.4%;
    max-height: 10%;
}
    .boxImgProdPequena img {
        display: block;
        margin: 0 auto;
        width: 100%;
        border: solid;
        border-color: rgb(255, 106, 0,.60);
        border-width: 2px;
        margin: 0 0 2px 2px;
        border-radius: 20px;
    }

/**********************************/
#inputcep {
    border-radius: 5px;
}
#pcep {
    margin-right: 5px;
    margin-left: 5px;
}
#icone:hover {
    background-color: #0dcaf0;
    transition: 0.1s;
    opacity: 0.9;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    height: 102%;
    width: 102%;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    width: 100%;
}
.ajusteModalCep {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.adpHr {
    display: flex;
    align-items: center;
}

    .adpHr hr {
        flex: 1;
        border-color: red;
    }



.dropdown:hover > .dropdown-menu {
    display: block;
}

/* ini: Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* cor do background que vai ocupar o body */  
    z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}

    #preloader .inner {
        position: absolute;
        top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
        left: 50%;
        transform: translate(-50%, -50%);
    }

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
/* end: Preloader */

html {
    font-size: 14px;

}
html {
    position: relative;
    min-height: 100%;
}

@media only screen and (max-device-width: 576px) {
    :root {
        --screenSize: "small";
        --containerSize: 550px;
    }

}
@media (max-width: 768px) {
    :root {
        --screenSize: "medium";
        --containerSize: 750px;
    }
    html {
        font-size: 16px;   
        position: relative;
        min-height: 100%;
    }

    .boxCarosel {
        margin: 0 25% 0 25%
    }
}
@media (max-width: 865px) {
    :root {
        --screenSize: "medium";
        --containerSize: 750px;
    }

    .boxCarosel {
        margin: 0 25% 0 25%
    }

    .columnHome {
        width: 27rem;
    }
}
@media (min-width: 992px) {
    :root {
        --screenSize: "large";
        --containerSize: 970px;
    }
   
}
@media (min-width: 1200px) {
    :root {
        --screenSize: "extra large";
        --containerSize: 1170px;
    }

    .boxCarosel {
        margin: 0 7.5% 0 7.5%
    }

    .columnHome {
        width: 22rem;
    }
}
